<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or sign up</title>
    <style>
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        
        .button1 {background-color: #4CAF50;} /* Green */
        .button2 {background-color: #008CBA;} /* Blue */
        </style>
</head>
<body>
    <center>
    <h1>you art not signed in login or sign up</h1>
    <form action="/signup" method="get">
        <button class="button button2">Sign up</button>
    </form>
    <form action="/login" method="get">
        <button class="button button1">Login</button>
    </center>
    </form>
</body>
</html>